.cardContainer {
    width: 200px;
    height: 400px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage {
    width: 175px;
    height: 375px;
    background: red;
}